<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel" th:fragment="sidebar">

    <!-- User info -->
    <div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->
					<a href="javascript:void(0);" >
						<img src="/img/avatars/BERNESE.png" alt="me" class="online" />
						<span id="menuUsername">

						</span>
					</a>
				</span>
    </div>
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="top-menu-invisible">
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-bar-chart-o txt-color-blue"></i> <span class="menu-item-parent">Dashboard</span></a>
                <ul>
                    <li class="">
                        <a href="index.html" title="Dashboard"><span class="menu-item-parent">Analytics Dashboard</span></a>
                    </li>
                    <li class="">
                        <a href="dashboard-social.html" title="Dashboard"><span class="menu-item-parent">Social Wall</span></a>
                    </li>
                </ul>
            </li>
            <li th:class="${menuAtivo == 'breeds'} ? 'active open' : 'top-menu-invisible'">
                <a href="#"><i class="fa fa-lg fa-fw  fa-paw txt-color-blue"></i> <span class="menu-item-parent">Raças</span></a>
                <ul>
                    <li th:class="${submenuAtivo == 'list'} ? 'active'">
                        <a th:href="@{/breeds-pages/list}" title="Listar"><i class="fa fa-lg fa-fw  fa-list"></i> <span class="menu-item-parent">Listar</span></a>
                    </li>
                    <li th:class="${submenuAtivo == 'form'} ? 'active'">
                        <a th:href="@{/breeds-pages/form}" title="Nova Raça"><i class="fa fa-lg fa-fw  fa-save"></i> <span class="menu-item-parent">Cadastrar</span></a>
                    </li>
                </ul>
            </li>
            <li th:class="${menuAtivo == 'users'} ? 'active'">
                <a th:href="@{/users-pages/list}"><i class="fa fa-lg fa-fw  fa-user txt-color-blue"></i> <span class="menu-item-parent">Usuários</span></a>
            </li>
            <li th:class="${menuAtivo == 'diagnostics'} ? 'active'">
                <a th:href="@{/diagnostics-pages/list}"><i class="fa fa-lg fa-fw  fa-stethoscope txt-color-blue"></i> <span class="menu-item-parent">Diagnósticos</span></a>
            </li>
            <li th:class="${menuAtivo == 'post-operatives'} ? 'active'">
                <a th:href="@{/post-operatives-pages/list}"><i class="fa fa-lg fa-fw  fa-medkit txt-color-blue"></i> <span class="menu-item-parent">Pós Operatórios</span></a>
            </li>
            <li th:class="${menuAtivo == 'health-record'} ? 'active open' : 'top-menu-invisible'">
                <a href="#"><i class="fa fa-lg fa-fw  fa-h-square txt-color-blue"></i> <span class="menu-item-parent">Prontuário</span></a>
                <ul>
                    <li th:class="${submenuHRAtivo == 'list'} ? 'active'">
                        <a th:href="@{/health-records-pages/list}" title="Listar"><i class="fa fa-lg fa-fw  fa-list"></i> <span class="menu-item-parent">Listar</span></a>
                    </li>
                    <li th:class="${submenuHRAtivo == 'form'} ? 'active'">
                        <a th:href="@{/health-records-pages/form}" title="Novo Prontuário"><i class="fa fa-lg fa-fw  fa-save"></i> <span class="menu-item-parent">Cadastrar</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

</aside>


<!-- END NAVIGATION -->
